/* estilos de la seccion productos */
.catalogo .container {
    padding: auto;
    margin: auto;
}


.producto h3 {
    text-align: center;
}

.producto button:hover {
    background-color: yellow;

}

.producto {
    margin: 30px 0px;
}

.producto img {
    align-content: center;
    align-items: center;
}

.producto1 {
    background-color: rgb(160, 8, 8);
    border-radius: 0% 15%;
    margin: 30px 0px;
    padding: auto;
}

.producto1 p {
    display: none;
}

.producto1 button {
    margin: 0px 0px 10px 80px;
    background-color: rgb(233, 211, 12);
    color: black;
    border-radius: 0% 20%;
}

.producto2 {
    background-color: rgb(160, 8, 8);
    border-radius: 15% 0%;
    margin: 30px 0px;
    padding: auto;
}

.producto2 img {
    margin: 0px 0px 0px 50px;
}

.producto2 button {
    margin: 0px 0px 10px 80px;
    background-color: rgb(233, 211, 12);
    color: black;
    border-radius: 20% 0%;
}

.producto3 {
    background-color: rgb(160, 8, 8);
    border-radius: 0% 20%;
    margin: 30px 0px;
    padding: auto;
}

.producto3 button {
    margin: 0px 0px 10px 80px;
    background-color: rgb(233, 211, 12);
    color: black;
    border-radius: 0% 20%;
}

.dropdown {
    margin: 0px 100px;
    padding: auto;
}